html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

.header {
  padding: 60px;
  text-align: center;
  color: black;
}

.navbar {
  display: flex;
  overflow: hidden;
  background-color: #332;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.sub-menu {
  float: left;
  overflow: hidden;  
}

.sub-menu .sub-btn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.sub-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: green;  
  width: 100%;
  z-index: 1;
}	
  
.sub-content a {
  float: left;
  color: white;
  text-decoration: none;
}
  
.sub-content a:hover {
  background-color: #eee;
  color:black;
}	
  
.sub-menu:hover .sub-content {
  display: block;
}
  
.content {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 65%;
  background-color: white;
  padding: 20px;
}

.leftside {
  flex: 5%;
}

.flex-container {
  display: flex;
  flex: 30%;
  padding: 40px;
  background-color: white;
  justify-content: center;
}

.side {
  flex:95%;
  background-color: #e0e0d2;
  padding: 20px;
}

.sticky {
  position: fixed;
  top: 0;	
  width: 100%;
}

.sticky + .content {
  padding-top: 30px;
}

.navheader {
  padding-top	
} 

